@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $shark;
    color: $white;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

.my-link {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: $vibrant;
    }
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
.divider-candy-shark{
    bottom: -21px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: rotate(-45deg);
    margin-left: -20px;
    background-color: $shark;
}
.divider-candy-wood {
    bottom: -21px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: rotate(-45deg);
    margin-left: -20px;
    background-color: $woodsmoke;
}
