@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $shark;
    color: $white;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 800;
}