// COLORS 
$shark: rgba(37, 42, 45, 1);
$chestnut-rose: rgba(213, 98, 95, 1);
$white: rgba(254, 254, 254, 1);
$dove-gray: rgba(107, 107, 107, 1);
$edward: rgba(174, 175, 174, 1);
$hokey-pokey: rgba(216, 188, 41, 1);
$old-rose: rgba(200, 138, 128, 1);
$pine-cone: rgba(112, 98, 91, 1);
$oslo-gray: rgba(137, 150, 150, 1);
$regent-gray: rgba(126, 137, 149, 1);
$vibrant: rgba(211, 97, 94, 1);
$thatch: rgba(180, 163, 148, 1);
$irish-coffee: rgba(99, 41, 39, 1);
$woodsmoke: #1e2123;
$antique-brass: rgba(194, 133, 108, 1);

// Colors from to
$color-variables: #4154ff;
$color-variables-bis: #320e3b;
$color-original: rgba(211, 97, 94, 1);

// TYPOGRAPHY
$fs-xxl : 5rem;
$fs-xl : 3rem;
$fs-l : 2rem;
$fs-m : 1.5rem;
$fs-s : 0.8rem;